.RobotFightCard {
  width: 100%;
  max-width: 150px;
  height: 100%;
  max-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.RobotFightCard_icon {
  font-size: 5rem;
}

.RobotFightCard_attack_defense {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  font-size: 14px;
}

.RobotFightCard_attack h4 {
  color: var(--green);
}

.RobotFightCard_defense h4 {
  color: var(--red);
}

.RobotFightCard span {
  display: flex;
  gap: 6px;
}
